/OperadoresLogicos/nbproject/private/
/OperadoresLogicos1/nbproject/private/
/OperadoresLogicos1/build/
/OperadoresAritmeticos/nbproject/private/
/OperadoresAritmeticos1/nbproject/private/
/OperadoresAritmeticos1/build/
/OperacionCadenas/nbproject/private/
/OperacionCadenas/build/
/OperadoresComparacion/nbproject/private/
/OperadoresComparacion1/nbproject/private/
/OperadoresComparacion1/build/
/SwitchCase/nbproject/private/
/SwitchCase/build/
/CicloWhile/nbproject/private/
/CicloWhile/build/
/EstructuraDatos/nbproject/private/
/EstructuraDatos/build/
/Jugueteria/nbproject/private/
/Jugueteria1/nbproject/private/
/Jugueteria1/build/
/Jugueteria2/nbproject/private/
/Jugueteria3/nbproject/private/
/Jugueteria3/build/
/ContadorDinamico1/nbproject/private/
/ContadorDinamico1/build/
/Calculadora/nbproject/private/
/Calculadora/build/
/JugueteriaMenu/nbproject/private/
/JugueteriaMenu1/nbproject/private/
/JugueteriaMenu1/build/
