/OperadoresLogicos/nbproject/private/
/OperadoresLogicos1/nbproject/private/
/OperadoresLogicos1/build/
/OperadoresAritmeticos/nbproject/private/
/OperadoresAritmeticos1/nbproject/private/
/OperadoresAritmeticos1/build/
/OperacionCadenas/nbproject/private/
/OperacionCadenas/build/
