/OperadoresLogicos/nbproject/private/
/OperadoresLogicos1/nbproject/private/
/OperadoresLogicos1/build/
/OperadoresAritmeticos/nbproject/private/
/OperadoresAritmeticos1/nbproject/private/
/OperadoresAritmeticos1/build/
/OperacionCadenas/nbproject/private/
/OperacionCadenas/build/
/OperadoresComparacion/nbproject/private/
/OperadoresComparacion1/nbproject/private/
/OperadoresComparacion1/build/
/SwitchCase/nbproject/private/
/SwitchCase/build/
/CicloWhile/nbproject/private/
/CicloWhile/build/
/EstructuraDatos/nbproject/private/
/EstructuraDatos/build/
